<% if @favorite.present? %>
  <h2>お気に入りリストから解除しますか？
  <%= link_to "解除する", favorite_path(id: @favorite.id, stretch_id: @stretch.id), method: :delete, remote: true, class: "btn btn-danger" %>
  </h2>

<% else %>
  <h2>お気に入りリストに登録しますか？
    <%= link_to "登録をする", favorites_path(stretch_id: @stretch.id), method: :post, remote: true, class:"btn btn-primary like-btn" %>
  </h2>
<% end %>