<% if flash[:alert] %>
  <div class="row alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class='container'>
  <div class='row'>
    <h2>ストレッチ新規登録</h2>
    <%= render 'form', stretch: @stretch, submit_text: '新規登録' %>
  </div>
</div>
