<div class='container'>
  <div class='row'>
    <div class='col-xs-7'>
    <h2>質問詳細</h2>
          <h4>名前</h4>
          <span><h4><%= @contact.name %></h4></span>
          <h4>メールアドレス</h4>
          <span><h4><%= @contact.email %></h4></span>
          <h4>質問内容</h4>
          <span><h4><%= @contact.content %></h4></span>
           <%= link_to '削除',admins_contact_path, method: :delete, class:'btn btn-danger' %>
    </div>
  </div>
</div>