<div class='container'>
  <div class='row'>
    <h2>質問詳細</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>質問ID</th>
          <th>名前</th>
          <th>質問内容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @contact.id %></td>
          <td><%= @contact.name %></td>
          <td><%= @contact.content %></td>
          <td><%= link_to '削除',admins_contact_path, method: :delete, class:'btn btn-danger' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>