<div class='pra'>
  <h3 class='type1'>
    <span>受付時間</span>
  </h3>
  <p>
    <strong>平日</strong>
     / 午前9:00〜12:00、午後16:00〜20:00
    <br>
    <strong>土曜</strong>
     / 午前9:00〜14:00
    <br>
    <strong>休診日</strong>
       / 日曜日、祝日
    </span>
  </p>