<div class='container'>
  <div class='row'>
        <div class=" col-md-6 ">
          <div class='content1'>
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </div>
        </div>
        <div class="col-md-6" id="image1"></div>
  </div>
  <div class='row inview fadeIn_up'>
        <div class="col-md-6 " id="image2"></div>
        <div class="col-md-6 ">
          <div class='content1'>
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </div>
        </div>
  </div>
  <div class='row inview fadeIn_up'>
        <div class="col-md-6 ">
          <div class='content1'>
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </div>
        </div>
        <div class="col-md-6 " id="image4"></div>
  </div>

</div>
<div class='container inview fadeIn_up' id='profile'>
  <div row>
    <h2 class='text-center'>Profile</h2>
  </div>
  <div row>
    <div class="col-md-5 " id="image3"></div>
    <div class="col-md-7 ">
      <div id='profile-text'>
      <h3 class='discription-title'>MyName</h3>
        <p class='discription-text'>
          texttexttexttexttexttexttext<br>
          texttexttexttexttexttexttext
        </p>
        <h3 class='discription-title'>MySkill</h3>
        <p class='discription-text'>
            texttexttexttexttexttext<br>
            texttexttexttexttexttext
        </p>
      </div>
    </div>
  </div>
</div>

<div class='container inview fadeIn_up' id='contact'>
  <div class='row'>
    <h2 class='heading'>Contact</h2>
  </div>
  <div class='row'>
    <div class=" ">
      <p>
      〒xxx-xxx<br>

        東京都中央区銀座x-x-xxx　xビル1F<br>
        SMB整骨院
    </p>
      <h3>受付時間</h3>
        <p>
          <strong>平日</strong>
           / 午前9:00〜12:00、午後16:00〜20:00
          <br>
          <strong>土曜</strong>
           / 午前9:00〜14:00
          <br>
          <strong>休診日</strong>
             / 日曜日、祝日
        </p>
      <p class='access'>
        <h3>アクセス</h3>
        ・都営浅草線    「宝町駅　A1出口」より徒歩2分<br>
        ・東京メトロ銀座線 「京橋駅　1番出口」より徒歩5分<br>
        ・東京メトロ有楽町線「銀座一丁目駅　10、11番出口」より徒歩5分
      </p>
    </div>

  </div>
</div>

<!-- スクロールアニメーション -->
<script>
  $(function(){
  $(".inview").on("inview", function (event, isInView) {
    if (isInView) {
      $(this).stop().addClass("is-show");
    }
  });
});
</script>
