<div class="container-image">
  <!-- スライドショー -->
  <div class='slider'>
    <div>
      <div class='sride-image' id='sride1'><p class='slide'>ストレッチで快適な日々を送りたいあなたへ</p></div>
    </div>
    <div>
      <div class='sride-image' id='sride2'><p class='slide'>体のケアはできていますか？</p></div>
    </div>
    <div>
      <div class='sride-image' id='sride3'><p class='slide'>体の疲れや痛み</p></div>
    </div>
    <div>
      <div class='sride-image' id='sride4'><p class='slide-2'>ストレッチで簡単改善！</p></div>
    </div>
  </div>
</div>
<div class='container'>
  <!-- サービス紹介 -->
  <div class='features'>
    <div class='container'>
      <div class='section-title text-center inview fadeIn_up'>
        <h2 class='title'>SMBとは</h2>
        <h4 class='title'>ストレッチをすることで体をメンテナンスし、日々快適なボディを目指していくストレッチサービスです</h4>
      </div>
      <div class='row inview fadeIn_up'>
        <div class='col-xs-6 col-md-4 col-sm-6 feature text-center'>
          <span aria-hidden='true' class='glyphicon glyphicon-check' style='font-size: 40px'></span>
          <h3 class='feature-title'>リアルな口コミ</h3>
          <p>✔  実際の体験してもらった方々のリアルな口コミであなたに最適なストレッチをサポート</p>
        </div>
        <div class='col-xs-6 col-md-4 col-sm-6 feature text-center'>
          <span aria-hidden='true' class='glyphicon glyphicon-zoom-in' style='font-size: 40px'></span>
          <h3 class='feature-title'>探しやすい</h3>
          <p>✔  気になるストレッチをお気に入り登録や最新の口コミから検索可能</p>
        </div>
        <div class='col-xs-6 col-md-4 col-sm-6  feature text-center'>
          <span aria-hidden='true' class='glyphicon glyphicon-thumbs-up' style='font-size: 40px'></span>
          <h3 class='feature-title'>見やすい</h3>
          <p>✔  分かりやすい説明や画像、自分だけのお気に入りリストを作成</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-8 col-md-12 text-center" id="recommended-items">
    <h2 class='recommended inview fadeIn_up'>おすすめストレッチ</h2>
    <div class='inview fadeIn_up'>
      <%= render 'stretchs/stretchs_index', stretchs: @stretchs %>
    </div>
    <div class='action'>
      <%= link_to 'もっと見る', stretchs_path, class: "btn btn-sm btn-success",data: {"turbolinks" => false} %>
    </div>
    <h2 class='inview fadeIn_up'>最新の口コミ</h2>
    <div class='inview fadeIn_up'>
      <%= render 'reviews/review_index', reviews: @reviews %>
    </div>
    <div class='action'>
      <%= link_to 'もっと見る', reviews_path, class: "btn btn-sm btn-success",data: {"turbolinks" => false} %>
    </div>
  </div>
</div>

<!-- スクロールアニメーション -->
<script>
  $(function(){
  $(".inview").on("inview", function (event, isInView) {
    if (isInView) {
      $(this).stop().addClass("is-show");
    }
  });
});
</script>
