<div class="container">
  <div class="row">
    <h2>管理者画面</h2>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
  </div>
</div>
