.container {
  margin-top: 50px;
}

#image-introduction {
  padding:50px;
  margin-top: 50px;
  height: 600px;
  max-width: 100%;
  background-image: image-url("image1.jpeg");
  background-size: cover;
  background-position: center;
  }


#image-body {
  padding:50px;
  margin-top: 50px;
  height: 600px;
  max-width: 100%;
  background-image: image-url("image3.jpeg");
  background-size: cover;
  background-position: center;
  }

#image-measures {
  padding:50px;
  height: 600px;
  margin-top: 50px;
  max-width: 100%;
  background-image: image-url("stretch7.jpeg");
  background-size: cover;
  background-position: center;
}

.content-introduction {
  margin-top: 150px;
  font-size:24px;
  padding:50px;
}

.content-body {
  margin-top: 150px;
  font-size:24px;
  padding:50px;
}

.content-measures{
  margin-top: 150px;
  font-size:24px;
  padding:50px;
}

.content-text-introduction{
  display: none;
}

.content-text-body{
  display: none;
}
.content-text-measures{
  display: none;
}




#profile{
  margin-top: 50px;
  background-color: #bdbbbb;

}


#image-profile {
  height: 350px;
  max-width: 100%;
  background-image: image-url("image2.jpeg");
  background-position: center;
  background-size: cover;
  padding: 0;
  border-radius: 50%;

}

#profile-text {
  padding: 20px 10px 50px 80px;
}