// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* スライド */
#sride1 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: image-url("stretch4.jpeg");
  background-size: cover;
  background-position: center;
  text-align:center;
  }

#sride2 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: image-url("stretch6.jpeg");
  background-size: cover;
  background-position: center;
  text-align:center;
  }

#sride3 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: image-url("stretch1.jpeg");
  background-size: cover;
  background-position: center;
  }

#sride4 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: image-url("stretch9.jpeg");
  background-size: cover;
  background-position: center;
  }



.slide{
  margin: 0 0 60px 0;
  padding: 2.5em 0;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 7.5vw;
  text-shadow: black 8px 6px 7px;
}

.slide-2{
  margin: 0 0 60px 0;
    padding: 3em 0;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 7vw;
    text-shadow: black 8px 6px 7px;
}

/* スクロールアニメーション */
.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 2s;
}
.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.features{
  margin-bottom:80px;
}

