// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* スライド */
#sride1 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: url(stretch4.jpeg);
  background-size: cover;
  text-align:center;
  }

#sride2 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: url(stretch6.jpeg);
  background-size: cover;
  text-align:center;
  }

#sride3 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: url(stretch1.jpeg);
  background-size: cover;
  }

#sride4 {
  margin: auto;
  height: 800px;
  max-width: 100%;
  background-image: url(stretch9.jpeg);
  background-size: cover;
  }



.slide{
  margin: 0 0 60px 0;
  padding: 2.5em 0;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 7.5vw;
  text-shadow: black 8px 6px 7px;
}

.slide-2{
  margin: 0 0 60px 0;
    padding: 3em 0;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 7vw;
    text-shadow: black 8px 6px 7px;
}

