// Place all the styles related to the stretchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stretch-text h2{
  border-bottom: ridge 5px #f3b5bd;
}

/*画像ポップアップ*/
.stretch-image img{
  width: 100%;
  transition-duration: 0.5s;
}
.stretch-image:hover img{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.thumbnail img{
  transition-duration: 0.5s;
}
.thumbnail:hover img{
  transform: scale(1.05);
  transition-duration: 0.5s;
}